name: Lint Python files

on:
  push:
    branches:
    - master
    paths:
    - "**.py"
    - .github/workflows/lint-python.yaml
    - .flake8

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    # Set up environment
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8

    # Run linting
    # Config specified in .yamllint
    - run: yamllint --disable-noqa .
