name: Lint YAML files

on:
  push:
    branches:
    - master
    paths:
    - "**.yaml"
    - "**.yml"
    - .yamllint

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    # Set up environment
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install yamllint

    # Run linting
    # Config specified in .yamllint
    - run: yamllint .
